@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
	--primary-color: rgb(17, 86, 102);
	--primary-color-darker: rgb(9, 48, 56);
}

* {
	box-sizing: border-box;
	outline: 0;
}

body {
	margin: 0;
	padding: 0;
	background: var(--primary-color);
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3em;
	line-height: 1.5em;
}

h3,
p {
	margin: 10px;
}

form input,
form label,
form button {
	display: block;
	margin-bottom: 10px;
}

form input {
	font-size: 24px;
	height: 50px;
	padding: 0 20px;
	width: 100%;
}

form input:focus {
	border: 3px solid var(--primary-color);
}

form button {
	border: none;
	background: var(--primary-color);
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	height: 50px;
	cursor: pointer;
	margin-top: 30px;
	margin: 0 auto;
	width: 100%;
}

form button:hover {
	background: var(--primary-color-darker);
}

.container {
	max-width: 50%;
	height: 70%;
	margin: 1.5% auto;
	background: #fff;
	padding: 20px;
	border-radius: 10px;
	border: 1px solid black;
}

.paragrafoDir {
	text-align: end;
}

#tituloPrincipal {
	text-align: center;
	border: 1px solid black;
	background: rgb(109, 255, 182);
	margin-top: 0;
}

#posicaoColunas {
	display: flex;
	margin-bottom: 50px;
}

#colunaEsquerda {
	/* border: 1px solid black; */
	width: 50%;
}
#colunaDireita {
	/* border: 1px solid black; */
	width: 50%;
}

#subLadoDir {
	text-align: end;
}
