@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
	--primary-color: rgb(17, 86, 102);
	--primary-color-darker: rgb(9, 48, 56);
}

* {
	box-sizing: border-box;
	outline: 0;
}

body {
	margin: 0;
	padding: 0;
	background: var(--primary-color);
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3em;
	line-height: 1.5em;
}

p {
	margin: 10px;
}

.botoes {
	margin: 0 10px;
	padding: 10px;
	border-radius: 15px;
	font-weight: bolder;
	font-family: 'Open Sans', sans-serif;
	font-size: large;
}

#container {
	max-width: 50%;
	height: 70%;
	margin: 10% auto;
	background: #fff;
	padding: 20px;
	border-radius: 10px;
	border: 1px solid black;
}

#tituloPrincipal {
	text-align: center;
	border: 1px solid black;
	border-radius: 10px;
	background: rgb(233, 235, 234);
	margin-top: 0;
	font-size: 50px;
	padding: 20px;
}

#valorCronometro {
	text-align: center;
	font-weight: 600;
	margin-bottom: 15px;
	font-size: 60px;
	padding: 50px;
}

#divBotoes {
	text-align: center;
}

#iniciar {
	background-color: rgb(81, 255, 81);
}
#pausar {
	background-color: rgb(222, 255, 37);
}
#zerar {
	background-color: rgb(179, 172, 173);
}
